source common.rc

account cars
  set folder = "$DEMO_DIR/cars"
  set index_format = "CARS %4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"
  set sort = "from"
  set sort_aux = "from"

  mailboxes "+audi"
  mailboxes "+bentley"
  mailboxes "+chrysler"
  mailboxes "+daimler"

account fruit
  set folder = "$DEMO_DIR/f1/fruit"
  set index_format = "FRUIT %4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"
  set sort = "score"
  set sort_aux = "score"

  mailboxes "+lemon"
  mailboxes "+melon"
  mailboxes "+nectarine"
  mailboxes "+orange"

account ocean
  set folder = "$DEMO_DIR/o1/o2/ocean"
  set index_format = "OCEANS %4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"
  set sort = "threads"
  set sort_aux = "threads"

  mailboxes "+atlantic"
  mailboxes "+indian"
  mailboxes "+pacific"
  mailboxes "+southern"

account trees
  set folder = "$DEMO_DIR/t1/t2/t3/trees"
  set index_format = "TREES %4C %Z %{%b %d} %-15.15L (%?l?%4l&%4c?) %s"
  set sort = "label"
  set sort_aux = "label"

  mailboxes "+maple"
  mailboxes "+oak"
  mailboxes "+poplar"
  mailboxes "+rowan"

# vim: syn=neomuttrc
