color body color0   default "XXXX00"
color body color1   default "XXXX01"
color body color2   default "XXXX02"
color body color3   default "XXXX03"
color body color4   default "XXXX04"
color body color5   default "XXXX05"
color body color6   default "XXXX06"
color body color7   default "XXXX07"
color body color8   default "XXXX08"
color body color9   default "XXXX09"
color body color10  default "XXXX0A"
color body color11  default "XXXX0B"
color body color12  default "XXXX0C"
color body color13  default "XXXX0D"
color body color14  default "XXXX0E"
color body color15  default "XXXX0F"
color body color16  default "XXXX10"
color body color17  default "XXXX11"
color body color18  default "XXXX12"
color body color19  default "XXXX13"
color body color20  default "XXXX14"
color body color21  default "XXXX15"
color body color22  default "XXXX16"
color body color23  default "XXXX17"
color body color24  default "XXXX18"
color body color25  default "XXXX19"
color body color26  default "XXXX1A"
color body color27  default "XXXX1B"
color body color28  default "XXXX1C"
color body color29  default "XXXX1D"
color body color30  default "XXXX1E"
color body color31  default "XXXX1F"
color body color32  default "XXXX20"
color body color33  default "XXXX21"
color body color34  default "XXXX22"
color body color35  default "XXXX23"
color body color36  default "XXXX24"
color body color37  default "XXXX25"
color body color38  default "XXXX26"
color body color39  default "XXXX27"
color body color40  default "XXXX28"
color body color41  default "XXXX29"
color body color42  default "XXXX2A"
color body color43  default "XXXX2B"
color body color44  default "XXXX2C"
color body color45  default "XXXX2D"
color body color46  default "XXXX2E"
color body color47  default "XXXX2F"
color body color48  default "XXXX30"
color body color49  default "XXXX31"
color body color50  default "XXXX32"
color body color51  default "XXXX33"
color body color52  default "XXXX34"
color body color53  default "XXXX35"
color body color54  default "XXXX36"
color body color55  default "XXXX37"
color body color56  default "XXXX38"
color body color57  default "XXXX39"
color body color58  default "XXXX3A"
color body color59  default "XXXX3B"
color body color60  default "XXXX3C"
color body color61  default "XXXX3D"
color body color62  default "XXXX3E"
color body color63  default "XXXX3F"
color body color64  default "XXXX40"
color body color65  default "XXXX41"
color body color66  default "XXXX42"
color body color67  default "XXXX43"
color body color68  default "XXXX44"
color body color69  default "XXXX45"
color body color70  default "XXXX46"
color body color71  default "XXXX47"
color body color72  default "XXXX48"
color body color73  default "XXXX49"
color body color74  default "XXXX4A"
color body color75  default "XXXX4B"
color body color76  default "XXXX4C"
color body color77  default "XXXX4D"
color body color78  default "XXXX4E"
color body color79  default "XXXX4F"
color body color80  default "XXXX50"
color body color81  default "XXXX51"
color body color82  default "XXXX52"
color body color83  default "XXXX53"
color body color84  default "XXXX54"
color body color85  default "XXXX55"
color body color86  default "XXXX56"
color body color87  default "XXXX57"
color body color88  default "XXXX58"
color body color89  default "XXXX59"
color body color90  default "XXXX5A"
color body color91  default "XXXX5B"
color body color92  default "XXXX5C"
color body color93  default "XXXX5D"
color body color94  default "XXXX5E"
color body color95  default "XXXX5F"
color body color96  default "XXXX60"
color body color97  default "XXXX61"
color body color98  default "XXXX62"
color body color99  default "XXXX63"
color body color100 default "XXXX64"
color body color101 default "XXXX65"
color body color102 default "XXXX66"
color body color103 default "XXXX67"
color body color104 default "XXXX68"
color body color105 default "XXXX69"
color body color106 default "XXXX6A"
color body color107 default "XXXX6B"
color body color108 default "XXXX6C"
color body color109 default "XXXX6D"
color body color110 default "XXXX6E"
color body color111 default "XXXX6F"
color body color112 default "XXXX70"
color body color113 default "XXXX71"
color body color114 default "XXXX72"
color body color115 default "XXXX73"
color body color116 default "XXXX74"
color body color117 default "XXXX75"
color body color118 default "XXXX76"
color body color119 default "XXXX77"
color body color120 default "XXXX78"
color body color121 default "XXXX79"
color body color122 default "XXXX7A"
color body color123 default "XXXX7B"
color body color124 default "XXXX7C"
color body color125 default "XXXX7D"
color body color126 default "XXXX7E"
color body color127 default "XXXX7F"
color body color128 default "XXXX80"
color body color129 default "XXXX81"
color body color130 default "XXXX82"
color body color131 default "XXXX83"
color body color132 default "XXXX84"
color body color133 default "XXXX85"
color body color134 default "XXXX86"
color body color135 default "XXXX87"
color body color136 default "XXXX88"
color body color137 default "XXXX89"
color body color138 default "XXXX8A"
color body color139 default "XXXX8B"
color body color140 default "XXXX8C"
color body color141 default "XXXX8D"
color body color142 default "XXXX8E"
color body color143 default "XXXX8F"
color body color144 default "XXXX90"
color body color145 default "XXXX91"
color body color146 default "XXXX92"
color body color147 default "XXXX93"
color body color148 default "XXXX94"
color body color149 default "XXXX95"
color body color150 default "XXXX96"
color body color151 default "XXXX97"
color body color152 default "XXXX98"
color body color153 default "XXXX99"
color body color154 default "XXXX9A"
color body color155 default "XXXX9B"
color body color156 default "XXXX9C"
color body color157 default "XXXX9D"
color body color158 default "XXXX9E"
color body color159 default "XXXX9F"
color body color160 default "XXXXA0"
color body color161 default "XXXXA1"
color body color162 default "XXXXA2"
color body color163 default "XXXXA3"
color body color164 default "XXXXA4"
color body color165 default "XXXXA5"
color body color166 default "XXXXA6"
color body color167 default "XXXXA7"
color body color168 default "XXXXA8"
color body color169 default "XXXXA9"
color body color170 default "XXXXAA"
color body color171 default "XXXXAB"
color body color172 default "XXXXAC"
color body color173 default "XXXXAD"
color body color174 default "XXXXAE"
color body color175 default "XXXXAF"
color body color176 default "XXXXB0"
color body color177 default "XXXXB1"
color body color178 default "XXXXB2"
color body color179 default "XXXXB3"
color body color180 default "XXXXB4"
color body color181 default "XXXXB5"
color body color182 default "XXXXB6"
color body color183 default "XXXXB7"
color body color184 default "XXXXB8"
color body color185 default "XXXXB9"
color body color186 default "XXXXBA"
color body color187 default "XXXXBB"
color body color188 default "XXXXBC"
color body color189 default "XXXXBD"
color body color190 default "XXXXBE"
color body color191 default "XXXXBF"
color body color192 default "XXXXC0"
color body color193 default "XXXXC1"
color body color194 default "XXXXC2"
color body color195 default "XXXXC3"
color body color196 default "XXXXC4"
color body color197 default "XXXXC5"
color body color198 default "XXXXC6"
color body color199 default "XXXXC7"
color body color200 default "XXXXC8"
color body color201 default "XXXXC9"
color body color202 default "XXXXCA"
color body color203 default "XXXXCB"
color body color204 default "XXXXCC"
color body color205 default "XXXXCD"
color body color206 default "XXXXCE"
color body color207 default "XXXXCF"
color body color208 default "XXXXD0"
color body color209 default "XXXXD1"
color body color210 default "XXXXD2"
color body color211 default "XXXXD3"
color body color212 default "XXXXD4"
color body color213 default "XXXXD5"
color body color214 default "XXXXD6"
color body color215 default "XXXXD7"
color body color216 default "XXXXD8"
color body color217 default "XXXXD9"
color body color218 default "XXXXDA"
color body color219 default "XXXXDB"
color body color220 default "XXXXDC"
color body color221 default "XXXXDD"
color body color222 default "XXXXDE"
color body color223 default "XXXXDF"
color body color224 default "XXXXE0"
color body color225 default "XXXXE1"
color body color226 default "XXXXE2"
color body color227 default "XXXXE3"
color body color228 default "XXXXE4"
color body color229 default "XXXXE5"
color body color230 default "XXXXE6"
color body color231 default "XXXXE7"
color body color232 default "XXXXE8"
color body color233 default "XXXXE9"
color body color234 default "XXXXEA"
color body color235 default "XXXXEB"
color body color236 default "XXXXEC"
color body color237 default "XXXXED"
color body color238 default "XXXXEE"
color body color239 default "XXXXEF"
color body color240 default "XXXXF0"
color body color241 default "XXXXF1"
color body color242 default "XXXXF2"
color body color243 default "XXXXF3"
color body color244 default "XXXXF4"
color body color245 default "XXXXF5"
color body color246 default "XXXXF6"
color body color247 default "XXXXF7"
color body color248 default "XXXXF8"
color body color249 default "XXXXF9"
color body color250 default "XXXXFA"
color body color251 default "XXXXFB"
color body color252 default "XXXXFC"
color body color253 default "XXXXFD"
color body color254 default "XXXXFE"
color body color255 default "XXXXFF"

color body default color0   "00XXXX"
color body default color1   "01XXXX"
color body default color2   "02XXXX"
color body default color3   "03XXXX"
color body default color4   "04XXXX"
color body default color5   "05XXXX"
color body default color6   "06XXXX"
color body default color7   "07XXXX"
color body default color8   "08XXXX"
color body default color9   "09XXXX"
color body default color10  "0AXXXX"
color body default color11  "0BXXXX"
color body default color12  "0CXXXX"
color body default color13  "0DXXXX"
color body default color14  "0EXXXX"
color body default color15  "0FXXXX"
color body default color16  "10XXXX"
color body default color17  "11XXXX"
color body default color18  "12XXXX"
color body default color19  "13XXXX"
color body default color20  "14XXXX"
color body default color21  "15XXXX"
color body default color22  "16XXXX"
color body default color23  "17XXXX"
color body default color24  "18XXXX"
color body default color25  "19XXXX"
color body default color26  "1AXXXX"
color body default color27  "1BXXXX"
color body default color28  "1CXXXX"
color body default color29  "1DXXXX"
color body default color30  "1EXXXX"
color body default color31  "1FXXXX"
color body default color32  "20XXXX"
color body default color33  "21XXXX"
color body default color34  "22XXXX"
color body default color35  "23XXXX"
color body default color36  "24XXXX"
color body default color37  "25XXXX"
color body default color38  "26XXXX"
color body default color39  "27XXXX"
color body default color40  "28XXXX"
color body default color41  "29XXXX"
color body default color42  "2AXXXX"
color body default color43  "2BXXXX"
color body default color44  "2CXXXX"
color body default color45  "2DXXXX"
color body default color46  "2EXXXX"
color body default color47  "2FXXXX"
color body default color48  "30XXXX"
color body default color49  "31XXXX"
color body default color50  "32XXXX"
color body default color51  "33XXXX"
color body default color52  "34XXXX"
color body default color53  "35XXXX"
color body default color54  "36XXXX"
color body default color55  "37XXXX"
color body default color56  "38XXXX"
color body default color57  "39XXXX"
color body default color58  "3AXXXX"
color body default color59  "3BXXXX"
color body default color60  "3CXXXX"
color body default color61  "3DXXXX"
color body default color62  "3EXXXX"
color body default color63  "3FXXXX"
color body default color64  "40XXXX"
color body default color65  "41XXXX"
color body default color66  "42XXXX"
color body default color67  "43XXXX"
color body default color68  "44XXXX"
color body default color69  "45XXXX"
color body default color70  "46XXXX"
color body default color71  "47XXXX"
color body default color72  "48XXXX"
color body default color73  "49XXXX"
color body default color74  "4AXXXX"
color body default color75  "4BXXXX"
color body default color76  "4CXXXX"
color body default color77  "4DXXXX"
color body default color78  "4EXXXX"
color body default color79  "4FXXXX"
color body default color80  "50XXXX"
color body default color81  "51XXXX"
color body default color82  "52XXXX"
color body default color83  "53XXXX"
color body default color84  "54XXXX"
color body default color85  "55XXXX"
color body default color86  "56XXXX"
color body default color87  "57XXXX"
color body default color88  "58XXXX"
color body default color89  "59XXXX"
color body default color90  "5AXXXX"
color body default color91  "5BXXXX"
color body default color92  "5CXXXX"
color body default color93  "5DXXXX"
color body default color94  "5EXXXX"
color body default color95  "5FXXXX"
color body default color96  "60XXXX"
color body default color97  "61XXXX"
color body default color98  "62XXXX"
color body default color99  "63XXXX"
color body default color100 "64XXXX"
color body default color101 "65XXXX"
color body default color102 "66XXXX"
color body default color103 "67XXXX"
color body default color104 "68XXXX"
color body default color105 "69XXXX"
color body default color106 "6AXXXX"
color body default color107 "6BXXXX"
color body default color108 "6CXXXX"
color body default color109 "6DXXXX"
color body default color110 "6EXXXX"
color body default color111 "6FXXXX"
color body default color112 "70XXXX"
color body default color113 "71XXXX"
color body default color114 "72XXXX"
color body default color115 "73XXXX"
color body default color116 "74XXXX"
color body default color117 "75XXXX"
color body default color118 "76XXXX"
color body default color119 "77XXXX"
color body default color120 "78XXXX"
color body default color121 "79XXXX"
color body default color122 "7AXXXX"
color body default color123 "7BXXXX"
color body default color124 "7CXXXX"
color body default color125 "7DXXXX"
color body default color126 "7EXXXX"
color body default color127 "7FXXXX"
color body default color128 "80XXXX"
color body default color129 "81XXXX"
color body default color130 "82XXXX"
color body default color131 "83XXXX"
color body default color132 "84XXXX"
color body default color133 "85XXXX"
color body default color134 "86XXXX"
color body default color135 "87XXXX"
color body default color136 "88XXXX"
color body default color137 "89XXXX"
color body default color138 "8AXXXX"
color body default color139 "8BXXXX"
color body default color140 "8CXXXX"
color body default color141 "8DXXXX"
color body default color142 "8EXXXX"
color body default color143 "8FXXXX"
color body default color144 "90XXXX"
color body default color145 "91XXXX"
color body default color146 "92XXXX"
color body default color147 "93XXXX"
color body default color148 "94XXXX"
color body default color149 "95XXXX"
color body default color150 "96XXXX"
color body default color151 "97XXXX"
color body default color152 "98XXXX"
color body default color153 "99XXXX"
color body default color154 "9AXXXX"
color body default color155 "9BXXXX"
color body default color156 "9CXXXX"
color body default color157 "9DXXXX"
color body default color158 "9EXXXX"
color body default color159 "9FXXXX"
color body default color160 "A0XXXX"
color body default color161 "A1XXXX"
color body default color162 "A2XXXX"
color body default color163 "A3XXXX"
color body default color164 "A4XXXX"
color body default color165 "A5XXXX"
color body default color166 "A6XXXX"
color body default color167 "A7XXXX"
color body default color168 "A8XXXX"
color body default color169 "A9XXXX"
color body default color170 "AAXXXX"
color body default color171 "ABXXXX"
color body default color172 "ACXXXX"
color body default color173 "ADXXXX"
color body default color174 "AEXXXX"
color body default color175 "AFXXXX"
color body default color176 "B0XXXX"
color body default color177 "B1XXXX"
color body default color178 "B2XXXX"
color body default color179 "B3XXXX"
color body default color180 "B4XXXX"
color body default color181 "B5XXXX"
color body default color182 "B6XXXX"
color body default color183 "B7XXXX"
color body default color184 "B8XXXX"
color body default color185 "B9XXXX"
color body default color186 "BAXXXX"
color body default color187 "BBXXXX"
color body default color188 "BCXXXX"
color body default color189 "BDXXXX"
color body default color190 "BEXXXX"
color body default color191 "BFXXXX"
color body default color192 "C0XXXX"
color body default color193 "C1XXXX"
color body default color194 "C2XXXX"
color body default color195 "C3XXXX"
color body default color196 "C4XXXX"
color body default color197 "C5XXXX"
color body default color198 "C6XXXX"
color body default color199 "C7XXXX"
color body default color200 "C8XXXX"
color body default color201 "C9XXXX"
color body default color202 "CAXXXX"
color body default color203 "CBXXXX"
color body default color204 "CCXXXX"
color body default color205 "CDXXXX"
color body default color206 "CEXXXX"
color body default color207 "CFXXXX"
color body default color208 "D0XXXX"
color body default color209 "D1XXXX"
color body default color210 "D2XXXX"
color body default color211 "D3XXXX"
color body default color212 "D4XXXX"
color body default color213 "D5XXXX"
color body default color214 "D6XXXX"
color body default color215 "D7XXXX"
color body default color216 "D8XXXX"
color body default color217 "D9XXXX"
color body default color218 "DAXXXX"
color body default color219 "DBXXXX"
color body default color220 "DCXXXX"
color body default color221 "DDXXXX"
color body default color222 "DEXXXX"
color body default color223 "DFXXXX"
color body default color224 "E0XXXX"
color body default color225 "E1XXXX"
color body default color226 "E2XXXX"
color body default color227 "E3XXXX"
color body default color228 "E4XXXX"
color body default color229 "E5XXXX"
color body default color230 "E6XXXX"
color body default color231 "E7XXXX"
color body default color232 "E8XXXX"
color body default color233 "E9XXXX"
color body default color234 "EAXXXX"
color body default color235 "EBXXXX"
color body default color236 "ECXXXX"
color body default color237 "EDXXXX"
color body default color238 "EEXXXX"
color body default color239 "EFXXXX"
color body default color240 "F0XXXX"
color body default color241 "F1XXXX"
color body default color242 "F2XXXX"
color body default color243 "F3XXXX"
color body default color244 "F4XXXX"
color body default color245 "F5XXXX"
color body default color246 "F6XXXX"
color body default color247 "F7XXXX"
color body default color248 "F8XXXX"
color body default color249 "F9XXXX"
color body default color250 "FAXXXX"
color body default color251 "FBXXXX"
color body default color252 "FCXXXX"
color body default color253 "FDXXXX"
color body default color254 "FEXXXX"
color body default color255 "FFXXXX"

# vim: syn=neomuttrc
