color body black         default "WWWWW0"
color body red           default "WWWWW1"
color body green         default "WWWWW2"
color body yellow        default "WWWWW3"
color body blue          default "WWWWW4"
color body magenta       default "WWWWW5"
color body cyan          default "WWWWW6"
color body white         default "WWWWW7"

color body brightblack   default "XXXXX0"
color body brightred     default "XXXXX1"
color body brightgreen   default "XXXXX2"
color body brightyellow  default "XXXXX3"
color body brightblue    default "XXXXX4"
color body brightmagenta default "XXXXX5"
color body brightcyan    default "XXXXX6"
color body brightwhite   default "XXXXX7"

color body lightblack    default "YYYYY0"
color body lightred      default "YYYYY1"
color body lightgreen    default "YYYYY2"
color body lightyellow   default "YYYYY3"
color body lightblue     default "YYYYY4"
color body lightmagenta  default "YYYYY5"
color body lightcyan     default "YYYYY6"
color body lightwhite    default "YYYYY7"

color body alertblack    default "ZZZZZ0"
color body alertred      default "ZZZZZ1"
color body alertgreen    default "ZZZZZ2"
color body alertyellow   default "ZZZZZ3"
color body alertblue     default "ZZZZZ4"
color body alertmagenta  default "ZZZZZ5"
color body alertcyan     default "ZZZZZ6"
color body alertwhite    default "ZZZZZ7"

color body default black         "PPPPP0"
color body default red           "PPPPP1"
color body default green         "PPPPP2"
color body default yellow        "PPPPP3"
color body default blue          "PPPPP4"
color body default magenta       "PPPPP5"
color body default cyan          "PPPPP6"
color body default white         "PPPPP7"

color body default brightblack   "QQQQQ0"
color body default brightred     "QQQQQ1"
color body default brightgreen   "QQQQQ2"
color body default brightyellow  "QQQQQ3"
color body default brightblue    "QQQQQ4"
color body default brightmagenta "QQQQQ5"
color body default brightcyan    "QQQQQ6"
color body default brightwhite   "QQQQQ7"

color body default lightblack    "RRRRR0"
color body default lightred      "RRRRR1"
color body default lightgreen    "RRRRR2"
color body default lightyellow   "RRRRR3"
color body default lightblue     "RRRRR4"
color body default lightmagenta  "RRRRR5"
color body default lightcyan     "RRRRR6"
color body default lightwhite    "RRRRR7"

color body default alertblack    "SSSSS0"
color body default alertred      "SSSSS1"
color body default alertgreen    "SSSSS2"
color body default alertyellow   "SSSSS3"
color body default alertblue     "SSSSS4"
color body default alertmagenta  "SSSSS5"
color body default alertcyan     "SSSSS6"
color body default alertwhite    "SSSSS7"

# vim: syn=neomuttrc
