color body black         default "WWWWW0"

color body none      default default "XXXXX0"
color body normal    default default "XXXXX1"
color body bold      default default "XXXXX2"
color body italic    default default "XXXXX3"
color body reverse   default default "XXXXX4"
color body standout  default default "XXXXX5"
color body underline default default "XXXXX6"

color body                                             default default "XXXX01"
color body                                  underline  default default "XXXX02"
color body                        standout             default default "XXXX03"
color body                        standout  underline  default default "XXXX04"
color body               reverse                       default default "XXXX05"
color body               reverse            underline  default default "XXXX06"
color body               reverse  standout             default default "XXXX07"
color body               reverse  standout  underline  default default "XXXX08"
color body       italic                                default default "XXXX09"
color body       italic                     underline  default default "XXXX10"
color body       italic           standout             default default "XXXX11"
color body       italic           standout  underline  default default "XXXX12"
color body       italic  reverse                       default default "XXXX13"
color body       italic  reverse            underline  default default "XXXX14"
color body       italic  reverse  standout             default default "XXXX15"
color body       italic  reverse  standout  underline  default default "XXXX16"
color body bold                                        default default "XXXX17"
color body bold                             underline  default default "XXXX18"
color body bold                   standout             default default "XXXX19"
color body bold                   standout  underline  default default "XXXX20"
color body bold          reverse                       default default "XXXX21"
color body bold          reverse            underline  default default "XXXX22"
color body bold          reverse  standout             default default "XXXX23"
color body bold          reverse  standout  underline  default default "XXXX24"
color body bold  italic                                default default "XXXX25"
color body bold  italic                     underline  default default "XXXX26"
color body bold  italic           standout             default default "XXXX27"
color body bold  italic           standout  underline  default default "XXXX28"
color body bold  italic  reverse                       default default "XXXX29"
color body bold  italic  reverse            underline  default default "XXXX30"
color body bold  italic  reverse  standout             default default "XXXX31"
color body bold  italic  reverse  standout  underline  default default "XXXX32"

# vim: syn=neomuttrc
